AWS_ACCESS_KEY_ID="KEY_ID"
AWS_SECRET_ACCESS_KEY="SECRET"
TF_VAR_admin_password="ADMIN_PASSWORD"
TF_VAR_proxy_secret="e6cd0163f04667f81d209f95ca083843"
TF_VAR_my_public_ip="127.0.0.1/32"
# generate above secret with `head -c 16 /dev/urandom | xxd -ps`
